<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HpDentist.Properties.Settings.HPDentistConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=file:\\HC-UT40530N\Dentist_DB\HPDentist.accdb;Persist Security Info=True;Jet OLEDB:Database Password=yaskna"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\HC-UT40530N\Dentist_DB\HPDentist.accdb;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
